*,
*::before,
*::after {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'poppins', sans-serif;
    --ff-secondary: 'poppins', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #170e25;
    --clr-accent: #30F6BA;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
body{
    color: var(--clr-light);
    background: var(--clr-light);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    margin: 0;
    text-align: center;
    
}
section{
    padding: 5em 2em;
    
}
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
.section__title {
    margin-bottom: .25em;
}
a{
    color: var(--clr-light);
    text-decoration: none;
}
.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
.section__subtitle--intro{
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
    color: rgb(197, 197, 197);
    
}
.section__title--intro{
    font-weight: var(--fw-reg);
    font-size: 80px;
    letter-spacing: 1px;
    text-align: left;
}


@media (max-width:600px) {
    .section__title--intro{
        font-size: 60px;
    }
    .section__subtitle--intro{
        font-size: 14px;
        letter-spacing: 8px;

    }
}
strong{
    font-weight: var(--fw-bold);
    display: block;
}
header{
    display: flex;
    justify-content: space-between;
   padding-left: 1em;
   padding-right: 1em;
   
  
}


.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin: 0 auto 1em;
    color: white;
    max-width: 600px;
}

.intro{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   margin-top: 4em;
    
    width: 100%;
    position: absolute;
    top:10vh;
    
}
.introduction{
    font-size: 18px;
    margin-bottom: 1em;
    color: var(--clr-accent);
}
.cta-area{
   
   margin-top: 2em;
   border: 2px solid #30F6BA;
   padding: 1em 1.5em;
   border-radius: 4px;
   z-index: 2;
}
.area{
    background-color: #4062bb;
background-image: linear-gradient(0deg, #5200ae  0%,  #4062bb 74%);
     
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(188, 155, 250, 0.644);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}




header{
    background:#4062bb;
}

.logo{
   font-size: 1.5em;
   padding:.5em;
   color: var(--clr-light);
   
    
}
img{
    display: block;
    width: 100%;
}
.nav{
    position: fixed;
    background: var(--clr-dark);
    
    color: var(--clr-light);
    opacity: .95;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}



.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav__list a {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}
.nav__list a:hover{
    color: var(--clr-accent);
}
.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}
.hamburger {
    display: block;
    position: fixed;
    right:20px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }
/* skills section */


.skills{
    display: grid;
 
    position: relative;
    grid-template-columns: repeat(3,100px);
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
  
    
}
.my-skills-section{
    width: 100%;
   
    background-color: #4062bb;
    background-image: linear-gradient(0deg, #4062bb 0%, #5200ae  74%);
}

.section__title--skills{
    margin-bottom: 2em;
    color: var(--clr-light);
    position: relative;
}
.section__title--skills::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    opacity: 0.25;
}
.skill{
    background: #947fe0e1;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 1.5em 0;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}
.skill i{
    font-size: 3em;
    color: var(--clr-light);
    
    
}
.squares,
.squares2,
.squares3,
.squares4,
.squares5{
    display: none;
}
/* section{
    margin-bottom: 6em;
} */
@media (min-width:700px){
    .skills{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        
        
    }
    .skill i{
        font-size: 5em;
        justify-content: center;
    }
    .squares,
    .squares2,
    .squares3,
    .squares4,
    .squares5{
        position: absolute;
        width: 200px;
        opacity: .4;
        display: block;
    }
    
    .squares{
        
      
        top:810px;
        overflow: hidden;
       right:  0px;
    }
    .squares2{
       
        left:-20px;
    }
    .squares3{
        right:  0px;
    }
    .squares4{
       
        left:-20px;
    }
    .squares5{
        right:  0px;
    }
   
}

/* about me section */

.about-me{
    background: var(--clr-light);
    color: var(--clr-dark);
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5em;
    border-radius: 3px;
}


.about-me__img{
    width: 300px;
    margin: 0 auto;
  
    
}
.about-me__img img{
    width: 100%;
}
.about-me__body p{
    font-size:20px;
    
}
.about-container{
    margin-top: 2em;
}
@media (min-width:850px) {
    .about-me__body{
        width: 40%;
        
        margin-top: 2.8em;
    }
    .about-container{
        display: flex;
        justify-content: center;
        
        align-items: center;
        text-align: left;
        margin-top: 0;
    }
    .about-me__img{
        margin: 0 auto;
    }
    
}


.section__title--work{
    margin-bottom: 1em;
    color: var(--clr-light);
}





.section__subtitle--work{
    margin-bottom: 2em;
}

.img-wrap{
    display: flex;
    width:70%;
    max-width:600px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2em;
    background: var(--clr-light);
    padding: 1em;
    min-height: 250px;
    
    border-radius: 3px;
    box-shadow: var(--bs);
    animation-duration: 2s;
    min-width: 200px;
    

}

.descrip-wrap{
    color: var(--clr-dark);
    border-right: 1px solid black;
    padding-right: 3em;
   
}
.img-description{
    color: var(--clr-dark);
   
}
.img-wrap img{
    width: 100%;
    border-radius: 3px;
    margin-left: 3em;
    min-width: 250px;
    max-width: 250px;object-fit: cover;

    
}

@media (max-width: 900px){
    .img-wrap{
        flex-direction: column;
        
    }
    .descrip-wrap{
        border-right: none;
        margin: 0 auto;
        padding: 0;
    }
    .img-wrap img{
        margin: 0 auto;
    }
}

@media (max-width: 600px){
    .img-wrap img{
        max-width: 150px;
        min-width: 150px;
    }
}
/* portfolio area */
.my-work{
    background-color: #4062bb;
    background-image: linear-gradient(360deg,#5200ae    0%, #4062bb 54%);
}

.img-wrap{
    position: relative; 
} 
.btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(48, 246, 186, .5);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    margin: -.1em 0;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
    transition: opacity .2s, visibility .2s;
}
.live{
      margin-right: 1em;
}


  .img-wrap:hover .btn {
    visibility: visible;
    opacity: 1;
    overflow: hidden;
  }


.footer{

    background-image: url(images/blob.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
    padding-bottom:2em;
    
    position: relative;
}

.social-list__link{
    color: var(--clr-light);
}
.footer__link{
    position: relative;
    font-weight: var(--fw-bold);
    font-size: 1.2em;
    z-index: 1;
    padding-top: 2em;
    color: var(--clr-light);
}
.social-list{
    margin-bottom: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    color:var(--clr-accent);
    
}
.social-list li{
    margin: 2em;
    font-weight: var(--fw-bold);
    font-size: 2em;
    color: var(--clr-accent);
}
@media (max-width:600px){
    .social-list li{
        font-size: 1em;
    }
}
.link{
    background: white;
    color: var(--clr-dark);
    padding: .5em 1.5em;
    font-weight: bold;
    transition: .5s;
    margin-right: 1em;
}

.link:hover,
.link:focus{
    background: var(--clr-accent);
    color: var(--clr-light);
    transform: scale(1.2);
}

.my-portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.my-portfolio__item{
    display: flex;
    align-items: center;
    margin-top: 5.5em;
}
.my-portfolio__img{
    width: 500px;
    border-radius: 4px;
   
}
.my-portfolio__img img{
    border-radius: 4px;
}
.my-portfolio__description{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    width: 50%;
    max-width: 400px;
    margin-left: -4em;
}
.portfolio-name{
    font-size: 1.5rem;
}
.portfolio-description{
    font-size: 1rem;
    border-radius: 4px;
    background: rgba(51, 0, 109, .8) ;
    padding: 1em;
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
    
}
.left{
    margin-right: -4em;
    z-index: 1;
    align-items: flex-start;
    text-align: left;
}



